---
layout: default
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.rooturl }}/">{{ site.name }}<span>&#39;s blog</span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  {% assign minutes = post.content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}
    {% assign read-time = site.var_less_than_a_minute_read %}
  {% else %}
    {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
  {% endif %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {{ post.excerpt }}
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time> • {{ read-time }}
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
